<h1>Friends</h1>
<%= render 'form' %>

<ul>

  <% for friendship in @user.friendships %>
  <% if friendship.friend.name %>
  <li>
    <%= h friendship.friend.name %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>

  <% end %>
</ul>