<h1>Friends</h1>
<%= render 'form' %>

<ul>

  <% for friendship in @user.friendships %>
  <% if friendship.friend.name %>
  <li>
    <%= h friendship.friend.name %>
    <span class="btn btn-danger">
    <i style="color:black;margin-left: 20px;"><%= link_to "remove", friendship, :method => :delete %>
    </span>
    <br>
  </li>
  <% end %>

  <% end %>
</ul>